{% extends 'layout.html' %}
{% block title %}Sigin{{ super() }}{% endblock title %}
{% block head %}
   {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock head %}
  {% block content %}
  {% block bodywarp %}<body class="text-center">{% endblock bodywarp %}
    <form class="form-signin" method="POST">
      <a href="/"><img class="mb-4" src="https://edgeryders.eu/images/logo-small.png" alt="Logo"></a>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}
      {% if session['username'] %}
    <div class="alert alert-danger" role="alert">You're logged in already! <a href="/">Home</a></div>
  </form>
    {% else %}
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" value="{{ request.form['username'] }}" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember_me" value="1"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p> <a href="/register">Signup</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; Edgeryders</p>
    </form>
    {% endif %}
  {% endblock content %}
</body>
</html>