{% extends 'layout.html' %}
{% block navs %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ config['APP_NAME'] }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Admin panel</a>
      </li>
  </ul>
      <a href="{{ url_for('logout') }}">Logout</a>
  </div>
</nav>
{% endblock navs %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
         {% endif %}
         {% endwith %}
<form method="post" action="">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.app_name.label }}
    {{ form.app_name(class="form-control") }}
    </div>

    <div class="form-group">
    {{ form.dynalist_api_url.label }}
    {{ form.dynalist_api_url(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.dynalist_api_token.label }}
        {{ form.dynalist_api_token(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.dynalist_api_file_id.label }}
        {{ form.dynalist_api_file_id(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.smtp_host.label }}
        {{ form.smtp_host(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.smtp_port.label }}
        {{ form.smtp_port(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.smtp_email.label }}
        {{ form.smtp_email(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.secret_code.label }}
        {{ form.secret_code(class="form-control") }}
    </div>

    <div class="form-group">
    {{ form.smtp_password.label }}
    {{ form.smtp_password(class="form-control") }}
    </div>

    <div class="form-check">
        {{ form.backup_enabled(class="form-check-input") }}
        {{ form.backup_enabled.label(class="form-check-label") }}
    </div>

  <div id="BackUpFields">
  <div class="form-group">
      {{ form.backup_type.label }}
      {{ form.backup_type(class="form-control") }}
    </div>

    <div class="form-group" id="{{ form.google_drive_id.id }}">
      {{ form.google_drive_id.label }}
      {{ form.google_drive_id(class="form-control") }}
    </div>


    <div class="form-group">
        {{ form.backup_file_prefix.label }}
        {{ form.backup_file_prefix(class="form-control") }}
    </div>

    <div class="form-group">
    {{ form.backup_dir.label }}
      {% if form.backup_dir.errors %}
                 {{ form.backup_dir(class="form-control is-invalid") }}
                 <div class="invalid-feedback">
                 {% for error in form.backup_dir.errors %}
                     <span>{{ error }}</span>
                     </div>
                 {% endfor %}
             {% else %}
                 {{ form.backup_dir(class="form-control") }}
             {% endif %}
    </div>
  </div>

    <div class="form-check">
        {{ form.email_push_enabled(class="form-check-input") }}
        {{ form.email_push_enabled.label(class="form-check-label") }}
    </div>

    <div class="form-check">
        {{ form.web_push_enabled(class="form-check-input") }}
        {{ form.web_push_enabled.label(class="form-check-label") }}
    </div>

    <div class="form-group">
    {{ form.old_file.label }}
    {% if form.old_file.errors %}
                 {{ form.old_file(class="form-control is-invalid") }}
                 <div class="invalid-feedback">
                 {% for error in form.old_file.errors %}
                     <span>{{ error }}</span>
                     </div>
                 {% endfor %}
             {% else %}
                 {{ form.old_file(class="form-control") }}
             {% endif %}
    </div>

    <div class="form-group">
    {{ form.new_file.label }}
      {% if form.new_file.errors %}
                 {{ form.new_file(class="form-control is-invalid") }}
                 <div class="invalid-feedback">
                 {% for error in form.new_file.errors %}
                     <span>{{ error }}</span>
                     </div>
                 {% endfor %}
             {% else %}
                 {{ form.new_file(class="form-control") }}
             {% endif %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock content %}
{% block footer %}
  {{ super() }}
<script>
$(function() {
  let backup_checkbox = $("#backup_enabled");
  let hide_fields = $("#BackUpFields");
  let gdrive = $("#google_drive_id");
  let backup_type = $("#backup_type");
  let backup_dir = $("#backup_dir");
  if (!backup_checkbox.is(':checked'))  {
    hide_fields.hide();
  }
  backup_checkbox.change(function() {
    if (backup_checkbox.is(':checked')) {
      hide_fields.show(1000);
    } else {
      hide_fields.hide(1000);
    }
  });
  if (backup_type.val() !== "2") {
    gdrive.hide();
  }
  backup_type.change(function () {
    if (backup_type.val() === "2") {
      gdrive.show(1000);
    } else {
      gdrive.hide(1000);
    }
  });

  if (backup_type.val() !== "1") {
    backup_dir.hide(1000);
  }
  backup_type.change(function () {
    if (backup_type.val() === "1") {
      backup_dir.show(1000);
    } else {
      backup_dir.hide(1000);
    }
  });
});
</script>
{% endblock footer %}
</div>
