{% extends 'layout.html' %}
{% block navs %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ config['APP_NAME'] }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
</nav>
{% endblock navs %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Trigger Notifications</h5>
        <p class="card-text">Notification can be triggered by following:</p>
        <ul class="list-group list-group-flush">
          {% for tag in tags %}
          <li class="list-group-item"><code>{{ tag['symbol'] }}</code> - {{ tag['name']}}<br><small class="text-muted">{{ tag['example']}}</small></li>
          {% endfor %}
  </ul>
        <a href="https://edgeryders.eu/t/dynalist-manual/7618" class="btn btn-primary">More Documentation</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-danger">
      <div class="card-body">
        <h5 class="card-title">Tasks statistics</h5>
        <p class="card-text">Overview:</p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">Upcoming Deadline: {{ taskinfo['next'] }}</li>
    <li class="list-group-item">Last Deadline: {{ taskinfo['last'] }} </li>
  </ul>
        <a href="https://dynalist.io/d/{{ config['DYNALIST_FILE_ID'] }}#q=%23{{ session['username'] }}%20-is%3Acompleted" class="btn btn-primary">View todo tasks for {{ session['username'] }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<script src="static/push.js"></script>
{{ super() }}
{% endblock footer %}
