{% extends 'layout.html' %}
{% block navs %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ config['APP_NAME'] }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Settings</a>
      </li>
  </ul>
      <a href="{{ url_for('logout') }}">Logout</a>
  </div>
</nav>
{% endblock navs %}

{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
         {% endif %}
         {% endwith %}
<form method="post" action="">
<div class="form-group">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {% if form.username.errors %}
                 {{ form.username(class="form-control is-invalid") }}
                 <div class="invalid-feedback">
                 {% for error in form.username.errors %}
                     <span>{{ error }}</span>
                     </div>

                 {% endfor %}
             {% else %}
                 {{ form.username(class="form-control") }}
             {% endif %}

    {{ form.email.label }}
    {% if form.email.errors %}
                 {{ form.email(class="form-control is-invalid") }}
                 <div class="invalid-feedback">
                 {% for error in form.email.errors %}
                     <span>{{ error }}</span>
                     </div>

                 {% endfor %}
             {% else %}
                 {{ form.email(class="form-control") }}
             {% endif %}

    {{ form.alert_deadline.label }}
    {{ form.alert_deadline(class="form-control") }}

    <div class="form-check">
    {{ form.push_email(class="form-check-input") }}
    {{ form.push_email.label(class="form-check-label") }}
    </div>

    <div class="form-check">
    {{ form.push_web(class="form-check-input") }}
    {{ form.push_web.label(class="form-check-label") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</div>
</form>
</div>
{% endblock content %}